nav.navbar {
    height: 70px;
    background: #FFFFFF;
    a.navbar-brand {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #3BACB6;
    }

    h5.navbar-perfil{
        font-weight: 600;
        color: #3BACB6;

        span{
            font-weight: 700;
            color: $title-color;
        }
    }

    a.navbar-link{
        font-weight: 700;
        font-size: 18px;
        color: #3BACB6;
        text-decoration: none;
    }
}